@import "normalize";
@import "compass/css3";

@mixin width-fit-content() {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

*, ::before, ::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

// Resetting h1-h6 styles because we use semantic HTML5 tags like section, article, nav etc.
// and e.g. h1 no longer means a global document header; e.g. it can be a header of a section deep
// in a hierarchy. Thus, styling h1-h6 tags should be done more individually.
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    font-weight: bold;
    vertical-align: baseline;
}

a {
    cursor: pointer;
}

.search-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include width-fit-content;

    a {
        text-decoration: none;
        color: black;
    }

    .result {
        display: block;
        height: 1.5em;
        line-height: 1.5;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: 0.5em;
        background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
        border-radius: 0.5em;
        border: 1px solid #8d8d8d;
    }
}

.train-info {
    tbody {
        tr:nth-child(2n + 1) {
            background-color: #bcbcbc;
        }
        tr:nth-child(2n) {
            background-color: #f5f5f5;
        }
        tr.current {
            background-color: red;
        }
    }
    td {
        padding: 0.5em;
    }
}
